.authContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.authForm {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.buttonDiv {
    margin: auto;
}

.link {
    transition: color 0.3s;
}

.link:hover {
    color: gray; 
}