html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  background-color: rgb(24,24,24);
  width: 100%;
  height: 100vh;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0% 5%;
  height: calc(100vh - 50px)
}
h1 {
  margin: 0;
}

h1,h2,h3,h4, p {
  margin: 0;
 color: #b8b8b8
}

html {
  padding: 0;
  line-height: 1.75;
}

* {
  box-sizing: border-box;
}

input {
  min-height: 2rem;
}

button {
  height: 2rem;
  min-width: 4rem;
}
